/* CSS Document */

body{
	background-image: -ms-radial-gradient(center, circle farthest-side, #FAEBFF 0%, #C0ACEF 100%);
	background-image: -moz-radial-gradient(center, circle farthest-side, #FAEBFF 0%, #C0ACEF 100%);
	background-image: -o-radial-gradient(center, circle farthest-side, #FAEBFF 0%, #C0ACEF 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 480, color-stop(0, #FAEBFF), color-stop(1, #C0ACEF));
	background-image: -webkit-radial-gradient(center, circle farthest-side, #FAEBFF 0%, #C0ACEF 100%);
	background-image: radial-gradient(center, circle farthest-side, #FAEBFF 0%, #C0ACEF 100%);
}

#page{
	margin: auto;
	padding: 1em;
	width: 960px;	
}
h1{
	text-shadow: 1px 1px 1px #ffffff;
	filter: dropshadow(color=#ffffff, offx=1, offy=1);	
}
h2{
	margin: 1em 0 .5em 0;	
	text-shadow: 1px 1px 1px #ffffff;
	filter: dropshadow(color=#ffffff, offx=1, offy=1);
}
p{
	margin: 1em 0;	
}

.halfWidthForm{
	float: left;
	width: 50%;	
}